In [2]:
import pandas as pd

df1 = pd.read_csv('上市公司資料.csv')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839 entries, 0 to 838
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   出表日期              839 non-null    int64
 1   資料年月              839 non-null    int64
 2   公司代號              839 non-null    int64
 3   公司名稱              839 non-null    object
 4   產業別               839 non-null    object
 5   營業收入-當月營收         839 non-null    int64
 6   營業收入-上月營收         839 non-null    int64
 7   營業收入-去年當月營收       839 non-null    int64
 8   營業收入-上月比較增減(%)    837 non-null    float64
 9   營業收入-去年同月增減(%)    838 non-null    float64
 10  累計營業收入-當月累計營收     839 non-null    int64
 11  累計營業收入-去年累計營收     839 non-null    int64
 12  累計營業收入-前期比較增減(%)  838 non-null    float64
 13  備註                839 non-null    object
dtypes: float64(3), int64(8), object(3)
memory usage: 91.9+ KB

In [5]:
df2 = pd.read_csv('上市公司資料.csv',usecols=['公司代號','公司名稱','產業別','營業收入-當月營收'])
df2

     公司代號 公司名稱   產業別  營業收入-當月營收
0    1102   亞泥  水泥工業    7069221
1    1108   幸福  水泥工業     390053
2    1109   信大  水泥工業     478276
3    1110   東泥  水泥工業     176935
4    1213   大飲  食品工業      38696
..    ...  ...   ...        ...
834  9942   茂順    其他     352730
835  9943  好樂迪  觀光事業     212912
836  9944   新麗    其他     179660
837  9955   佳龍    其他      81881
838  9958  世紀鋼  鋼鐵工業     757968

[839 rows x 4 columns]